// =================================================================================================
// ---- icons ----
// =================================================================================================

.icon {
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &__vue {
        width: 20px;
        height: 18px;
        top: 4px;
        background-image: url('~@/assets/img/icons/vuejs.svg');
    }

}