// =================================================================================================
// ---- Mixins ----
// =================================================================================================


// ==|== Hidden Element to TweenMax.from ===========================================================
%nav-links-animate {
    position: relative;
    visibility: hidden;
    opacity: 0;
    top: 50px;
}