// =================================================================================================
// ---- Page ----
// =================================================================================================

.page {
    width: $appWidth;
    height: $appHeight;
    padding: 50px;

    &__headline {
        text-align: center;
        text-transform: uppercase;
    }
}