// =================================================================================================
// ---- Page ----
// =================================================================================================

.page {
    background-image: url('~@/assets/img/layout/bg.png');
    padding: 20px 0;

    &__headline {
        text-align: center;
        text-transform: uppercase;
    }
}