// =================================================================================================
// ---- Page ----
// =================================================================================================

.page {
    padding: 95px 20px 20px;
    flex: 1;
    z-index: 100;
    background-color: $white;
    background-image: url('~@/assets/img/layout/bg.png');

    &__headline {
        text-align: center;
        text-transform: uppercase;
    }
}